
/* ============= Footer ============= */
.footer {
  background: #000; /* màu cam chủ đạo */
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 280px;
}

/* riêng cột hợp tác */
.footer-col.absg {
  flex: 0 0 220px;  /* cố định chiều ngang 220px */
  padding-left: 50px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
  border-left: 4px solid #fff;
  padding-left: 8px;
}

.footer p, 
.footer ul, 
.footer a {
  font-size: 14px;
  line-height: 1.6;
  color: #f9f9f9;
}

.footer a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #d95e00 !important; /* cam đậm hơn */
}

iframe {
	width: 100%;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin: 8px 0;
}

.social-links a {
  font-size: 20px;
  margin-right: 12px;
  display: inline-block;
  color: #fff;
  background: rgba(255,255,255,0.15);
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s;
}

.social-links a:hover {
  background: #fff;
  color: #FB7915 !important;
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 13px;
}

/* ======= End Footer ======== */