.companyMenu.group.flexContain.owl-carousel.container.owl-loaded.owl-drag {
    padding: 80px 0;
}
.companyMenu a {
	border: 2px solid #fff;
	line-height: 40px;
	transition-duration: .2s;
}

.companyMenu a:hover {
	border: 2px solid #aaa;
	transform: scale(1.1);
	z-index: 20;
}

.companyMenu a img {
	max-height: 110px;
	vertical-align: middle;
	margin-top: -3px;
}

/* Dropdown From w3 */
.dropbtn {
	background-color: #444;
	color: white;
	padding: 10px 14px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 5px;
	transition-duration: .3s;
}

.dropbtn:after {
	content: ' \25B7';
}

.dropdown:hover .dropbtn:after {
	/* kí tự mũi tên xuống */
	content: ' \25BD'
}

.dropdown {
	position: relative;
	margin: 10px 5px;
}

.sortFilter.dropdown {
    width: fit-content;
}

.dropdown-content {
	z-index: 1;
	position: absolute;
	min-width: 170px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	/* mặc địng là xoay 90 độ => bị ẩn đi */
	transform: rotateX(90deg);
	transition-duration: .3s;
}

.dropdown-content a {
	color: #444;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: white;
	background-color: #555
}

.dropdown:hover .dropdown-content {
	/* khi hover vào thì cần hiện content ra => xoay 0 độ => trờ về như cũ */
	transform: rotateY(0deg);
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

/* ============== End From W3 ============== */

/* Filter by Name */
.filterName {
	margin: 15px auto;
	text-align: center;
	/* width: 195px; */
}

.filterName input {
	padding: 0 15px;
	/* width: calc(100% - 30px); 15px la padding left cua input */
	height: 30px;
	border: 2px solid #bbb;
	border-radius: 10px;
	font-size: 15px;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}

.filterName input:focus {
	border: 2px solid orange;
}

/* Choosed filter */
.choosedFilter {
	margin: 10px auto;
}

.choosedFilter i {
	transition-duration: .3s;
}

.choosedFilter a:hover>h3>i {
	color: red;
}

/* .choosedFilter a:hover > h3 { text-decoration: line-through; } */
.choosedFilter a {
	font-size: 12px;
	padding: 6px;
	color: #fff;
	background: #288ad6;
	border-radius: 4px;
	margin-right: 5px;
}

/* Các khung sản phẩm */


.headAndMore {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f5f5f5;
	padding: 15px;
	margin-bottom: 30px;
}

.khungSanPham h3.tenKhung {
	font-size: 23px;
	font-weight: 700;
	margin: 0 !important;
	color: #ff7618;
}


.khungSanPham .sanpham.row {
	list-style-type: none;
	border-radius: 13px;
	position: relative;
}

/* Nút xem tất cả */
.khungHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f5f5f5;
	padding: 15px;
	margin: 50px 0 8px 0;
}

a.xemTatCa {
	display: flex;
	align-items: center;
	gap: 2px;
	font-size: 14px;
}

i.bxr.bx-arrow-right {
	font-size: 25px;
}

.contain-khungSanPham {
    text-align: center;
}

.listSpTrongKhung.flexContain.row {
    align-items: center;
    justify-content: space-between;
}

.sanPham.col-12.col-sm-6.col-md-3.col-lg-3.item {
    border: 1px solid #dfd8d8;
	border-radius: 13px;
	padding: 0;
}